global_defs {
  enable_script_security
  script_user root root
}

{% if keepalived_router_info is defined %}
{%   for item in keepalived_router_info %}
{%     if item.check_script is defined %}
{%       for chk in item.check_script %}
vrrp_script {{ chk.name }} {
  script "{{ chk.script }}"
  interval {{ chk.interval }}
  weight {{ chk.weight }}
}
{%       endfor %}
{%     endif %}

vrrp_instance {{ item.name }} {
  interface {{ item.vip_int }}

{%     if inventory_hostname == item.master_node %}
  state MASTER
  priority {{ item.router_pri_master }}
{%     elif inventory_hostname != item.master_node %}
  state BACKUP
  priority {{ item.router_pri_backup }}
{%     endif %}

  virtual_router_id {{ item.router_id }}
  virtual_ipaddress {
{%     for ip in item.vip_addresses %}
    {{ ip }}
{%     endfor %}
  }

{%     if item.check_script is defined %}
{%       for chk in item.check_script %}
  track_script {
    {{ chk.name }}
  }
{%       endfor %}
{%     endif %}

{%- if item.nopreempt is defined and item.nopreempt %}
  nopreempt
{% endif -%}

{% if item.use_unicast is defined and item.use_unicast %}
  unicast_src_ip {{ unicast_src_ip }}
{% for peer in unicast_peers %}
  unicast_peer {
    {{ peer }}
{% endfor -%}
  }
{% endif %}

{% if item.auth_pass is defined %}
  authentication {
    auth_type PASS
    auth_pass {{ item.auth_pass }}
  }
{% endif %}

  notify_master "/usr/libexec/keepalived/notify.sh master"
  notify_backup "/usr/libexec/keepalived/notify.sh backup"
  notify_fault "/usr/libexec/keepalived/notify.sh fault"
  notify_stop "/usr/libexec/keepalived/notify.sh stop"

}
{%   endfor %}
{% endif %}
